<div class='span9 content-wrapper top-spacer'>
	<div class='row' id='ima-grid'>
		<% @albums.each do |album| %>
			<div class='span3 top-spacer bottom-spacer picto'>
				<div class='nailthumb-container side-spacer pic-wrapper'>
					<%= link_to(image_tag(album.incoming_messages.first.photo.url, class: 'item'), album_path(album)) %>
				</div><!-- end nailthumb-container side-spacer pic-wrapper -->
				<p>Caption</p>
			</div><!-- end span3 top-spacer bottom-spacer picto -->
		<% end %><!-- end pics-->
	</div><!-- end row -->
</div><!-- end span9 content-wrapper bottom-spacer picto-->