<% if @albums %>
	<div class='span9 content-wrapper top-spacer'>
		<div class='row' id='ima-grid'>
			<% @albums.each do |album| %>
			
					<div class='span4 top-spacer bottom-spacer picto relative'>
						<div class='nailthumb-container-wide side-spacer pic-wrapper folio'>
						<% if album.incoming_messages.empty? %>
						  <%= link_to(image_tag('http://placehold.it/340x255', class: 'item-wide'), album_path(album)) %>
						<% else %>
							<%= link_to(image_tag(album.incoming_messages.first.photo.url, class: 'item-wide'), album_path(album)) %>
						<% end %>	
						</div><!-- end nailthumb-container side-spacer pic-wrapper -->
						<p class='caption'>Caption</p>
					</div><!-- end span4 top-spacer bottom-spacer picto -->

			<% end %><!-- end pics-->
		</div><!-- end row -->
	</div><!-- end span9 content-wrapper bottom-spacer picto-->
<% end %>